header{
background-color: #ECEDF7;
height: 140px;
margin: 0%;
padding: 0%;
display: flex;
justify-content: space-between;
}

#FrontLogo {
    height: 100%;
    width: auto;
}

nav {
    float: right;
    padding: 3%;
}

nav a{    
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 25px;
  width: 25%
}

.container1{
background-image: linear-gradient(
  rgba(0, 0, 0, 0.7), 
  rgba(0, 0, 0, 0.7)),
  url(Photos/ideaphoto4.jpg);
background-size: 100%;
background-position: bottom;
display:flex;
justify-content: flex-end;
height: 400px;
}

.nimaphoto{
  width:20%;
  height: 100%; 
  /* border-radius: 20%;
  border: 20px solid #f725a7; */
}

.quote{
  font-size: 30px;
  font-weight: 600;
  padding:60px;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}


.homepagebox {
width:48%;
height: 230px;
border: black solid 4px;
margin: 5px;
text-align: center;
font-size: 40px;
line-height: 10%;
color: #f725a7;
}

.material-icons{
  font-size: 50px;
  color: black;
  line-height: 10%;
}

.links{
  font-size: 15px;
  color: black;
  line-height: 10%;
}

.form{
 text-align: center;
 padding-top: 40px;
}
.form-item{
  padding:20px;
  font-size: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  padding: 15px;
  background-color: #ECEDF7;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 500px) {

}